registry=https://registry.npm.taobao.org
# registry=https://registry.npmjs.org/

# npm根据scope区分用户及仓库地址
# registory=https://registry.npm.taobao.org
# @monkey:registry=http://registry.taobao.net/repository/npm/