.other {
}
.first {
    border: 1px solid red;
}
.firstEn {
    border: 1px solid #00a3fe;
    font-size: 14px;
}
.firstZh {
    border: 1px solid black;
    font-size: 16px;
}
.button {
    display: block;
    width: 88px;
    height: 44px;
}