@import '../../components/variable.scss';
.home {
    padding-bottom: 100px;
}
.portal {
    margin-top: 100px; // 锚点是容器的宽度，通过你指定px进行布局更好
    // writing-mode: tb-rl;
    height: calc(100% - 100px);
    width: 100%;
    background-color: #fff;
}
.demo {
    border: 1px solid red;
}
.zone {
    margin: 5px;
    padding: 10px 5px;
    border: 1px solid #00a3fe;
}

button {
    width: 100px;
    height: 66px;
    background-color: $bg-button;
}