    .field {
        background-color: #000;
        text-align: center;
    }
    .legend {
        width: initial;
        background-color: #00a3fe;
        color: #fff;
    }
    .sumary {
        color: #fff;
    }