// 模板样式
.template {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #00a3fe;
  img {
    width: 18px;
    height: 18px;
  }
}

// 节点样式
.condition {
  width: 100%;
  height: 100%;
  border: 1px solid #00a3fe;
}
