.hello {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 666px;
    background: #00a3fe;
    z-index: 999;
}
.hello2 {
    position: absolute;
    top: 100px;
    left: 700px;
    width: 500px;
    height: 666px;
    background: #00a3fe;
    z-index: 999;
}