/* 定义颜色  */ 
/*
  1、背景色：bg
  2、主题色：theme color
  3、辅助色：sub color
  4、高亮：high light
  5、正常：normal
  6、激活：active
  7、灰色：ghost
*/
$color1: #ea5504;
$color2: #ff9736;
$color3: #ddd; // 边框，文案，背景
$color4: #f2f2f2; // 边框2
$color5: #333; // 标题2
$color6: #666; // 标题
$color7:  #999; // 子标题
$color8: #f9f9f9; //背景
$color9: #ff6936; // 边框3，文字颜色
$color10: #22bfab; // 按钮背景色，文字颜色
$color11: #fff; // 按钮文字颜色
$color12: #e21900; //提示文案颜色
$color13: #c5c5c5; // 已下架商品展示信息颜色
$color14: #e3e3e3; // 灰色按钮背景色
$color15: #fff; // 大部分背景色
$color16: #f5f5f5; // 弹框标题背景色
$color17: #c4c4c4; // 弹框关闭按钮颜色
$color18: #d0d0d0; // step步骤颜色
$color19: #f6f6f6; // step背景颜色
$color20: #f3fff9; // 背景色
$color21: #c2c2c2; // 背景色
$color22: #ff6936;


$main: #ff4500;
$bg-fff: #FFF;
$bg-light: #f2f7ff;
$bg-button: #00a3fe;
$bg-selected-address: #fff9ef;
$highlight: #ff4500;
$them-color: #ff4500;
$sub-color: #ff4500;
$font-999: #999;
$font-666: #666;
$font-333: #333;
$line-color: #e0e0e0;
$line-eee: #eee;