.container {
  border: 1px solid red;
  height: 600px;
}
.mine {
  width: 180px;
  height: 600px;
  background-color: #00a3fe;
}
.dndframe {
  display: flex;
  height: 100%;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
  .sidebar {
    flex-shrink: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .content {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
  }
}
