.stencil {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  background-color: #f5f5f5;
  .title,
  .active {
    height: 32px;
    line-height: 32px;
    padding: 0 5px 0 8px;
    box-sizing: border-box;
    background-color: #e9e9e9;
    color: #666;
    font-size: 12px;
  }
  .search {
    .input {
      display: block;
      width: 90%;
      height: 30px;
      line-height: 30px;
      padding-left: 8px;
      margin: 8px 5%;
      border: 1px solid #e9e9e9;
      border-radius: 12px;
      outline: 0;
      background: #fff;
      color: #333;
      box-sizing: border-box;
    }
  }
  .group {
    display: flex;
    flex-direction: column;
    position: relative;
    .title {
      cursor: pointer;
      padding-left: 32px;
      &::before {
        position: absolute;
        top: 6px;
        left: 8px;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        border: none;
        content: ' ';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNOS4zNzUuNUM0LjY4Ny41Ljg3NSA0LjMxMy44NzUgOWMwIDQuNjg4IDMuODEyIDguNSA4LjUgOC41IDQuNjg3IDAgOC41LTMuODEyIDguNS04LjUgMC00LjY4Ny0zLjgxMy04LjUtOC41LTguNXptMCAxNS44ODZDNS4zMDMgMTYuMzg2IDEuOTkgMTMuMDcyIDEuOTkgOXMzLjMxMi03LjM4NSA3LjM4NS03LjM4NVMxNi43NiA0LjkyOCAxNi43NiA5YzAgNC4wNzItMy4zMTMgNy4zODYtNy4zODUgNy4zODZ6Ii8+PHBhdGggZD0iTTEyLjc1MyA4LjQ0M0g1Ljk5N2EuNTU4LjU1OCAwIDAwMCAxLjExNmg2Ljc1NmEuNTU4LjU1OCAwIDAwMC0xLjExNnoiLz48L2c+PC9zdmc+);
        opacity: 0.4;
        transition: all 0.3s;
      }
    }
    .active {
      cursor: pointer;
      padding-left: 32px;
      &::before {
        position: absolute;
        top: 6px;
        left: 8px;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        border: none;
        content: ' ';
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNOS4zNzUuNUM0LjY4Ny41Ljg3NSA0LjMxMy44NzUgOWMwIDQuNjg4IDMuODEyIDguNSA4LjUgOC41IDQuNjg3IDAgOC41LTMuODEyIDguNS04LjUgMC00LjY4Ny0zLjgxMy04LjUtOC41LTguNXptMCAxNS44ODZDNS4zMDMgMTYuMzg2IDEuOTkgMTMuMDcyIDEuOTkgOXMzLjMxMi03LjM4NSA3LjM4NS03LjM4NVMxNi43NiA0LjkyOCAxNi43NiA5YzAgNC4wNzItMy4zMTMgNy4zODYtNy4zODUgNy4zODZ6Ii8+PHBhdGggZD0iTTEyLjc1MyA4LjQ0M0g1Ljk5N2EuNTU4LjU1OCAwIDAwMCAxLjExNmg2Ljc1NmEuNTU4LjU1OCAwIDAwMC0xLjExNnoiLz48cGF0aCBkPSJNOC44MTcgNS42MjN2Ni43NTZhLjU1OC41NTggMCAwMDEuMTE2IDBWNS42MjNhLjU1OC41NTggMCAxMC0xLjExNiAweiIvPjwvZz48L3N2Zz4=');
        opacity: 0.4;
        transition: all 0.3s;
      }
    }
    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .abbr {
        // 用于提示
        text-decoration: none;
        cursor: pointer;
      }
    }
    .content {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      .wrapper {
        flex-basis: 45%;
        height: auto;
        flex-shrink: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
      }
    }
  }
}
